force-app/main/default/flows/Measure_Config_Integration_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>mlimit-core integration post</description>
        <name>mlimit_config_type_post</name>
        <label>mlimit_config_type_post</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>MeasureConfig.mlimit_config_type_post</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>payload</name>
            <value>
                <elementReference>MeasureConfigType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>X-Fields</name>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApiResponseCode</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApiResponseCode</assignToReference>
            <name>400Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>DefaultException</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>responseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Compose the payload</description>
        <name>MeasureConfigTypeAssignment</name>
        <label>MeasureConfigTypeAssignment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>MeasureConfigType.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeasureConfigTypeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasureConfigType.status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MeasureConfigTypeStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mlimit_config_type_post</targetReference>
        </connector>
    </assignments>
    <description>Enable or Disable Measure Config via Integration</description>
    <interviewLabel>Measure Config Integration Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Measure Config Integration Post</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MeasureConfigTypeAssignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApiResponseCode</name>
        <apexClass>ExternalService__MeasureConfig_ApiResponseCode</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeasureConfigType</name>
        <apexClass>ExternalService__MeasureConfig_MeasureConfigType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of Measure Config Type (e.g. restapi)</description>
        <name>MeasureConfigTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Measure Config Type Status (true or false)</description>
        <name>MeasureConfigTypeStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
