force-app/main/default/flows/Measure_Config.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>MeasureConfigTypeRestAPI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>restapi</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Active</name>
        <label>Is Active</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ConnectionIsNOTActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Active</defaultConnectorLabel>
        <rules>
            <name>isActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckConfig.active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConnectionIsActive</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Measure_Config_Type_Exists</name>
        <label>Measure Config Type Exists</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Measure_Config_Type_RestAPI_Update_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeasureConfigTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Measure_Config_Type_New_0_0_0_0</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>RestAPIResponse</name>
        <label>RestAPIResponse</label>
        <locationX>380</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>RestAPIResponseError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>responseCode</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rest_API_Confirmation</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Add Measure Configuration</description>
    <interviewLabel>Measure Config {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Measure Config</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Measure_Config_Type_New_0_0_0_0</name>
        <label>Measure Config Type New</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MeasureConfigTypeRestAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>active__c</field>
            <value>
                <elementReference>RESTAPILimit.value</elementReference>
            </value>
        </inputAssignments>
        <object>Measure_Config_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Check for an active authentication</description>
        <name>CheckConfig</name>
        <label>CheckConfig</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConfigAuth__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retry if the Measure Config Type RestAPI is active or not</description>
        <name>Measure_Config_Type_RestAPI</name>
        <label>Measure Config Type RestAPI</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnableMeasureConfig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeasureConfigTypeRestAPI</elementReference>
            </value>
        </filters>
        <object>Measure_Config_Type__c</object>
        <outputAssignments>
            <assignToReference>MeasureConfigTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MeasureConfigTypeActive</assignToReference>
            <field>active__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Measure_Config_Type_RestAPI_Update_0_0_0_0_0</name>
        <label>Measure Config Type RestAPI Update</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeasureConfigTypeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>active__c</field>
            <value>
                <elementReference>RESTAPILimit.value</elementReference>
            </value>
        </inputAssignments>
        <object>Measure_Config_Type__c</object>
    </recordUpdates>
    <screens>
        <name>ConnectionIsActive</name>
        <label>Connection Is Active</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Measure_Config_Type_RestAPI</targetReference>
        </connector>
        <fields>
            <name>ConnectionIsActiveDisplay</name>
            <fieldText>&lt;p&gt;The Connection with Heroku {!CheckConfig.heroku_app_name__c} is active issued at {!CheckConfig.issued_at__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConnectionIsNOTActive</name>
        <label>Connection Is NOT Active</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConnectionIsNOTActiveDT</name>
            <fieldText>&lt;p&gt;You need to Connect to Heroku&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://herokuapp.com/login&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;click here&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Wait a couple of seconds or minutes once authenticated to start enabling measures&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnableMeasureConfig</name>
        <label>Enable Measure Config</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RestAPILimit_Measure_Config_Integration_0</targetReference>
        </connector>
        <fields>
            <name>RESTAPILimit</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>REST API Limit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>MeasureConfigTypeActive</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EventMonitoring</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Event Monitoring</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rest_API_Confirmation</name>
        <label>Rest API Confirmation</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Measure_Config_Type_Exists</targetReference>
        </connector>
        <fields>
            <name>RestAPIconfirmationtext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Success!﻿ &lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Rest API type has been enabled. Click Next to finish and y&lt;/span&gt;ou might want to check the Measures. Thanks&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RestAPIResponseError</name>
        <label>RestAPIResponseError</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RestAPIResponseErrorMessage</name>
            <fieldText>&lt;p&gt;Something went wrong&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;! message: &lt;/span&gt;{!ApiResponseCode.message} with &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;code: &lt;/span&gt;{!ApiResponseCode.code}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckConfig</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>RestAPILimit_Measure_Config_Integration_0</name>
        <label>RestAPILimit Measure Config Integration</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>RestAPIResponse</targetReference>
        </connector>
        <flowName>Measure_Config_Integration_Post</flowName>
        <inputAssignments>
            <name>MeasureConfigTypeName</name>
            <value>
                <elementReference>MeasureConfigTypeRestAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MeasureConfigTypeStatus</name>
            <value>
                <elementReference>RESTAPILimit.value</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ApiResponseCode</assignToReference>
            <name>ApiResponseCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>responseCode</assignToReference>
            <name>responseCode</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ApiResponseCode</name>
        <apexClass>ExternalService__MeasureConfig_ApiResponseCode</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Measure Config Type Record Found Active</description>
        <name>MeasureConfigTypeActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeasureConfigTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>